{{define "head"}}
<script>
    window.addEventListener('load', function () {
        const exeButton = document.getElementById("executeCommand");
        if (!exeButton) return;

        exeButton.addEventListener("click", function () {
            const paramsField = document.getElementById("params");
            if (!paramsField) return;
            const params = paramsField.value;
            fetch("/api/v1/devices/{{.command.DeviceID}}/commands/{{.command.ID}}/invoke", {
                method: "POST",
                body: params,
            })
                .then(response => response.json())
                .then(data => {
                    const responseField = document.getElementById("response");
                    response.innerHTML = JSON.stringify(data);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    });
</script>
{{end}}


{{define "content"}}
<h1 class="title mt-4">{{.command.Name}} ({{.device.Name}})</h1>
<h2 class="subtitle">{{.device.ID}}.{{.command.ID}}</h2>

<div class="field">
    <label class="label" for="payloadTemplate">Payload template</label>
    <div class="control">
        <textarea class="textarea" disabled id="payloadTemplate">{{.command.PayloadTemplate}}</textarea>
    </div>
</div>


<div class="field">
    <label class="label" for="endpoint">Endpoint</label>
    <p id="endpoint" class="value">{{.command.Endpoint}}</p>
</div>

<div class="field">
    <label class="label" for="method">Method</label>
    <p id="method" class="value">{{.command.Method}}</p>
</div>

<div class="field">
    <label class="label" for="params">Params</label>
    <div class="control">
        <textarea class="textarea" id="params" cols="30" rows="10" placeholder="Params"></textarea>
    </div>
</div>
<button id="executeCommand" class="button mt-2">Execute</button>
<p id="response"></p>
{{end}}