{{define "head"}}
<script src="/static/js/common.js"></script>
<script>
  function load() {
    let name_field = document.getElementById("name");
    let when_field = document.getElementById("when");
    let then_field = document.getElementById("then");
    let form = document.getElementById("ruleForm");
    let error_message = document.getElementById("error_message");

    form.onsubmit = function (evt) {
      evt.preventDefault();

      error_message.innerHTML = "";
      if (name_field.value == "") {
        error_message.innerHTML = "Name is required";
        return;
      }
      if (when_field.value == "") {
        error_message.innerHTML = "Condition is required";
        return;
      }
      if (then_field.value == "") {
        error_message.innerHTML = "Action is required";
        return;
      }

      let body = {
        name: name_field.value,
        when: when_field.value,
        then: then_field.value,
      };

      createRule(body, function () {
        window.location.href = "/";
      }, function (error) {
        error_message.innerHTML = error;
      })
    };
  }

  window.onload = load;
</script>
{{end}} {{define "content"}}
<h1 class="page_title">Create Rule</h1>

<div>
  <form id="ruleForm">
    <div class="input_form">

      <label for="name">Name</label>
      <input id="name" class="input_text" name="name" type="text" placeholder="Name" />

      <label for="when">Condition</label>
      <input id="when" class="input_text" name="when" type="text" placeholder="Condition" />

      <label for="then">Action</label>
      <input id="then" class="input_text" name="then" type="text" placeholder="Action" />

      <span id="error_message" class="error_message"></span>

      <button type="submit">Create</button>
    </div>
  </form>
</div>
{{end}}