{{define "head"}}
<script src="/static/js/common.js"></script>
<script>

  function load() {
    let id_field = document.getElementById("id");
    let name_field = document.getElementById("name");
    let form = document.getElementById("deviceForm");

    name_field.oninput = function () {
      id_field.value = name_field.value.toLowerCase().replace(/ /g, "_");
    };

    form.onsubmit = function (evt) {
      evt.preventDefault();
      hideError();

      if (name_field.value == "") {
        showError("Name is required")
        return;
      }

      let body = {
        id: id_field.value,
        name: name_field.value,
      };

      createDevice(body, function () {
        window.location.href = "/";
      }, function (error) {
        showError(error);
      })
    };
  }

  window.onload = load;
</script>
{{end}} {{define "content"}}
<h1 class="title mt-4">Create a new Device</h1>

<div>
  <form id="deviceForm">
    <div class="field">
      <label class="label" for="name">Id</label>
      <div class="control">
        <input id="id" class="input" name="id" type="text" placeholder="Id" disabled />
      </div>
    </div>

    <div class="field">
      <label class="label" for="name">Name</label>
      <div class="control">
        <input id="name" class="input" name="name" type="text" placeholder="Name" />
      </div>
    </div>

    <div id="error-message" class="notification mt-2 is-danger is-hidden"></div>

    <button class="button mt-2 is-primary" type="submit">Create</button>
  </form>
</div>
{{end}}