{{define "head"}}
<script src="/static/js/common.js"></script>
<script>
  function getDeviceId() {
    let url = window.location.href;
    let urlSplit = url.split("/");
    let deviceId = urlSplit[urlSplit.length - 2];
    return deviceId;
  }
  function load() {
    let id_field = document.getElementById("id");
    let name_field = document.getElementById("name");
    let payload_field = document.getElementById("payloadTemplate");
    let endpoint_field = document.getElementById("endpoint");
    let method_field = document.getElementById("method");
    let deviceId_field = document.getElementById("deviceId");
    let form = document.getElementById("commandForm");

    deviceId_field.value = getDeviceId();

    name_field.oninput = function () {
      id_field.value = name_field.value.toLowerCase().replace(/ /g, "_");
    };

    form.onsubmit = function (evt) {
      evt.preventDefault();

      hideError();

      if (name_field.value == "") {
        showError("Name is required")
        return;
      }

      let body = {
        id: id_field.value,
        name: name_field.value,
        payload_template: payload_field.value,
        endpoint: endpoint_field.value,
        method: method_field.value,
      };

      createCommand(
        body,
        deviceId_field.value,
        function () {
          window.location.href = "/devices/" + deviceId_field.value;
        },
        function (error) {
          showError(error);
        }
      );
    };
  }

  window.onload = load;
</script>
{{end}} {{define "content"}}
<h1 class="title mt-2">Create Command</h1>

<div>
  <form id="commandForm">
    <div class="field">
      <label class="label" for="name">Id</label>
      <div class="control">
        <input id="id" class="input" name="id" type="text" placeholder="Id" disabled />
      </div>
    </div>

    <div class="field">
      <label class="label" for="name">Name</label>
      <div class="control">
        <input id="name" class="input" name="name" type="text" placeholder="Name" />
      </div>
    </div>

    <div class="field">
      <label class="label" for="deviceId">Device Id</label>
      <div class="control">
        <input id="deviceId" class="input" name="deviceId" type="text" placeholder="DeviceId" disabled />
      </div>
    </div>

    <div class="field">
      <label class="label" for="endpoint">Endpoint</label>
      <div class="control">
        <input id="endpoint" class="input" name="endpoint" type="url" placeholder="Endpoint" />
      </div>
    </div>

    <div class="field">
      <label class="label" for="payloadTemplate">Payload template</label>
      <div class="control">
        <textarea id="payloadTemplate" class="textarea" name="payloadTemplate" rows="8"
          placeholder="Payload template"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label" for="method">Method</label>
      <div class="control select">
        <select id="method" name="method" class="select">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="DELETE">DELETE</option>
          <option value="PUT">PUT</option>
          <option value="PATCH">PATCH</option>
        </select>
      </div>
    </div>

    <div id="error-message" class="notification is-hidden is-danger"></div>

    <button class="button is-primary" type="submit">Create</button>
</div>
</form>
</div>
{{end}}