{{define "head"}}
<script src="/static/js/common.js"></script>
<script>
  function load() {
    let name_field = document.getElementById("name");
    let when_field = document.getElementById("when");
    let then_field = document.getElementById("then");
    let form = document.getElementById("ruleForm");

    form.onsubmit = function (evt) {
      evt.preventDefault();

      hideError();
      if (name_field.value == "") {
        showError("Name is required");
        return;
      }
      if (when_field.value == "") {
        showError("Condition is required");
        return;
      }
      if (then_field.value == "") {
        showError("Action is required");
        return;
      }

      let body = {
        name: name_field.value,
        when: when_field.value,
        then: then_field.value,
      };

      createRule(body, function () {
        window.location.href = "/";
      }, function (error) {
        showError(error);
      })
    };
  }

  window.onload = load;
</script>
{{end}} {{define "content"}}
<h1 class="title mt-4">Create Rule</h1>

<div>
  <form class="form" id="ruleForm">

    <div class="field">
      <label class="label" for="name">Name</label>
      <div class="control">
        <input id="name" class="input" name="name" type="text" placeholder="Name" />
      </div>
    </div>

    <div class="field">
      <label class="label" for="when">Condition</label>
      <div class="control">
        <input id="when" class="input" name="when" type="text" placeholder="Condition" />
      </div>
    </div>

    <div class="field">
      <label class="label" for="then">Action</label>
      <div class="control">
        <input id="then" class="input" name="then" type="text" placeholder="Action" />
      </div>
    </div>

    <div id="error-message" class="notification is-danger mt-2 is-hidden"></div>

    <button class="button is-primary" type="submit">Create</button>
  </form>
</div>
{{end}}