{{define "head"}}
<script>
    function load() {
        openWebsocket();
        const callback = (message) => {
            if (message.DeviceID === "{{.device.ID}}") {
                const ele = document.getElementById(message.SensorID + "-value");
                if (ele) {
                    ele.innerHTML = message.Value;
                }
            }
        }
        registerToWebsocket(callback);
    }

    window.addEventListener("load", load);
</script>
{{end}}


{{define "content"}}
{{$device := .device}}
<h1 class="page_title">{{.device.Name}}</h1>
<h4>Sensors: </h4>
<ul>
    {{range .sensors}}
    <li><a href="/devices/{{$device.ID}}/sensors/{{.ID}}">{{.Name}} - Value: <span id="{{.ID}}-value">-</span></a></li>
    {{end}}
</ul>
<h4>Commands: </h4>
<ul>
    {{range .commands}}
    <li><a href="/devices/{{$device.ID}}/commands/{{.ID}}">{{.Name}}</a></li>
    {{end}}
</ul>
<a href="/devices/{{$device.ID}}/createSensor">Create sensor</a>
<a href="/devices/{{$device.ID}}/createCommand">Create command</a>
<a href="/">Back to devices</a>
{{end}}