{{define "head"}}
<script>
    function onWebsocketMessage(message) {
        if (message.DeviceID === "{{.sensor.DeviceID}}" && message.SensorID === "{{.sensor.ID}}") {
            const ele = document.getElementById("value");
            if (ele) {
                ele.innerHTML = message.Value;
            }
        }
    }

    function readCurrentValue() {
        fetch("/api/v1/devices/{{.sensor.DeviceID}}/sensors/{{.sensor.ID}}/current")
            .then(response => response.json())
            .then(data => {
                const ele = document.getElementById("value");
                if (ele && data.value) {
                    ele.innerHTML = data.value;
                }
            })
            .catch(error => {
                console.error(error);
            });

    }

    function load() {
        openWebsocket();
        readCurrentValue();
        registerToWebsocket(onWebsocketMessage);
    }

    window.addEventListener("load", load);
</script>
{{end}}


{{define "content"}}
<h1 class="title mt-4">{{.sensor.Name}} ({{.device.Name}})</h1>
<h4 class="subtitle">{{.device.ID}}.{{.sensor.ID}}</h4>

<div class="field">
    <label class="label" for="value">Value</label>
    <div class="control">
        <p id="value">-</p>
    </div>
</div>

<div class="field">
    <label class="label" for="datatype">Data type</label>
    <div class="control">
        <p id="datatype" class="value">{{.sensor.DataType}}</p>
    </div>
</div>
<div class="field">
    <label class="label" for="unit">Unit</label>
    <div class="control">
        <p id="unit" class="value">{{.sensor.Unit}}</p>
    </div>
</div>
<div class="field">
    <label class="label" for="type">Type</label>
    <div class="control">
        <p id="type" class="value">{{.sensor.Type}}</p>
    </div>
</div>
{{end}}