{{define "head"}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
<script>
    function onWebsocketMessage(message) {
        if (message.DeviceID === "{{.sensor.DeviceID}}" && message.SensorID === "{{.sensor.ID}}") {
            const ele = document.getElementById("value");
            if (ele) {
                ele.innerHTML = message.Value;
            }
        }
    }

    function readCurrentValue() {
        fetch("/api/v1/devices/{{.sensor.DeviceID}}/sensors/{{.sensor.ID}}/current")
            .then(response => response.json())
            .then(data => {
                const ele = document.getElementById("value");
                if (ele && data.value) {
                    ele.innerHTML = data.value;
                }
            })
            .catch(error => {
                console.error(error);
            });

    }

    async function fetchValues(deviceId, sensorId) {
        const res = await fetch("/api/v1/devices/" + deviceId + "/sensors/" + sensorId + "/values")
        return await res.json()
    }

    async function readValues() {
        const values = await fetchValues("{{.device.ID}}", "{{.sensor.ID}}")
        if (values.length > 0)
            loadChart(values);
    }

    function loadChart(values) {
        const ctx = document.getElementById('historyChart');
        ctx.classList.remove("is-hidden");

        const data = [];
        for (let i = 0; i < values.length; i++) {
            const val = values[i].value === "true" ? 1 : 0;
            data.push({x: values[i].timestamp, y: val});
        }

        console.log(data);
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Dataset"],
                datasets: [{
                    label: "Values",
                    data,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: "time",
                        min: data[0].x,
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    function load() {
        openWebsocket();
        readCurrentValue();
        registerToWebsocket(onWebsocketMessage);

        readValues();
    }

    window.addEventListener("load", load);
</script>
{{end}}


{{define "content"}}
<h1 class="title mt-4">{{.sensor.Name}} ({{.device.Name}})</h1>
<h4 class="subtitle">{{.device.ID}}.{{.sensor.ID}}</h4>

<div class="field">
    <label class="label" for="value">Value</label>
    <div class="control">
        <p id="value">-</p>
    </div>
</div>

<div class="field">
    <label class="label" for="datatype">Data type</label>
    <div class="control">
        <p id="datatype" class="value">{{.sensor.DataType}}</p>
    </div>
</div>
<div class="field">
    <label class="label" for="unit">Unit</label>
    <div class="control">
        <p id="unit" class="value">{{.sensor.Unit}}</p>
    </div>
</div>
<div class="field">
    <label class="label" for="type">Type</label>
    <div class="control">
        <p id="type" class="value">{{.sensor.Type}}</p>
    </div>
</div>

<h2 class="subtitle">History</h2>
<div>
    <canvas id="historyChart"></canvas>
</div>
{{end}}