{{define "head"}}
<script>
    function onWebsocketMessage(message) {
        if (message.DeviceID === "{{.sensor.DeviceID}}" && message.SensorID === "{{.sensor.ID}}") {
            const ele = document.getElementById("value");
            if (ele) {
                ele.innerHTML = message.Value;
            }
        }
    }

    function readCurrentValue() {
        fetch("/api/v1/devices/{{.sensor.DeviceID}}/sensors/{{.sensor.ID}}/current")
            .then(response => response.json())
            .then(data => {
                const ele = document.getElementById("value");
                if (ele) {
                    ele.innerHTML = data.value;
                }
            })
            .catch(error => {
                console.error(error);
            });

    }

    function load() {
        openWebsocket();
        readCurrentValue();
        registerToWebsocket(onWebsocketMessage);
    }

    window.addEventListener("load", load);
</script>
{{end}}


{{define "content"}}
<h1 class="page_title">{{.sensor.Name}}</h1>
<h4 class="id_subtitle">{{.sensor.ID}}</h4>

<label for="value">Value</label>
<p id="value" class="value">-</p>

<label for="datatype">Data type</label>
<p id="datatype" class="value">{{.sensor.DataType}}</p>

<label for="unit">Unit</label>
<p id="unit" class="value">{{.sensor.Unit}}</p>

<label for="type">Type</label>
<p id="type" class="value">{{.sensor.Type}}</p>

<a href="/devices/{{.sensor.DeviceID}}">Back to device</a>
{{end}}